body{

}

h1{
    font-size: 60px;
}
h2{

}
h3{
    font-size: 42px;
}
p{
    font-size: 24px;
}
h1, h2, h3{
    padding: 20px 0 20px 0;
    text-align: center;
}

.container-fluid{
    padding-top: 30px;
}

#loading-animation{
    padding-top: 30px;
}

#heart-logo{
    padding-bottom: 30px;
}

#result-img{
    height: 100%;
}

#ads-container{
    padding-top: 60px;
    display: none;
}
#ads-container img{
    cursor: pointer;
    opacity: .7;
}
#help-btn{
    padding-top: 30px;
}
#refresh-img{
    width: 40px;
    height: 40px;
    margin: -2px 0 0 -2px;
}
#refresh-btn{
    width: 60px;
    height: 60px;
}
