body{

}

h1, h2, h3{
    padding: 20px 0 20px 0;
    text-align: center;
}

.container-fluid{
    padding-top: 30px;
}

#loading-animation{
    padding-top: 30px;
}

#heart-logo{
    padding-bottom: 30px;
}

#result-img{
    height: 100%;
}

#ads-container{
    padding-top: 60px;
    display: none;
}
#ads-container img{
    cursor: pointer;
    opacity: .7;
}
#help-btn{
    padding-top: 30px;
}
#refresh-img{
    width: 24px;
    height: 24px;
    margin: -4px 0 0 -4px;
}
#refresh-btn{
    width: 38px;
    height: 38px;
}
